name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd django-cms-devops-exam || git clone https://github.com/berminjan/django-cms-devops-exam.git
            cd django-cms-devops-exam
            git pull origin main
            docker compose down
            docker compose up -d --build
            docker exec django-cms python manage.py migrate
            docker exec django-cms python manage.py collectstatic --noinput
